@import "tailwindcss";
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
	--background-image-bisexual: linear-gradient(
		135deg,
		#d60270 0%,
		#d60270 25%,
		#9b4f96 50%,
		#0038a7 75%,
		#0038a7 100%
	);
	--background-image-lesbian: linear-gradient(
		135deg,
		#d52d00 0%,
		#d52d00 20%,
		#ff9a56 20%,
		#ff9a56 40%,
		#ffffff 40%,
		#ffffff 60%,
		#d362a4 60%,
		#d362a4 80%,
		#a30262 80%,
		#a30262 100%
	);
	--background-image-nonbinary: linear-gradient(
		135deg,
		#fff430 0%,
		#fff430 25%,
		#ffffff 25%,
		#ffffff 50%,
		#9c59d1 50%,
		#9c59d1 75%,
		#000000 75%,
		#000000 100%
	);
	--background-image-rainbow: linear-gradient(
		135deg,
		#ff5f6d 0%,
		#ffc371 20%,
		#ffeb3b 40%,
		#4caf50 60%,
		#2196f3 80%,
		#9c27b0 100%
	);
	--background-image-transgender: linear-gradient(
		135deg,
		#55cdfc 0%,
		#55cdfc 20%,
		#f7a8b8 20%,
		#f7a8b8 40%,
		#fff 40%,
		#fff 60%,
		#f7a8b8 60%,
		#f7a8b8 80%,
		#55cdfc 80%,
		#55cdfc 100%
	);
}

body {
	cursor: default;
	display: flex;
	height: 100%;
	user-select: none;
}

html {
	height: 100%;
}

.marquee {
	/* avoid Safari bug */
	animation-delay: 0.1s;

	animation-name: marquee;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform: translateX(100vw);
}

.root {
	width: 100%;
}

@keyframes marquee {
	0% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(-100%);
	}
}

@media (min-width: 768px) {
	body {
		align-items: center;
	}
}
